.app {
  box-sizing: border-box;
  width: 700px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-save-form {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 300px;
  padding: 15px;
  background-color: #06d;
  z-index: 9999;
}
.app-save-form input {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  background: none;
  border-bottom: 3px solid #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 900;
}
.app-save-form input:focus {
  outline: none;
}
.app-save-form input::placeholder {
  color: #fff;
}
.app-save-form button {
  border: 0;
  background: #fff;
  color: #272727;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.app-message {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 300px;
  padding: 15px;
  background-color: #06d;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  z-index: 9999;
}

.app-header {
  text-align: center;
}

.app-main {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
}

.app-main__row {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-items: center;
  align-items: center;
}

.app-main__row-button {
  background-color: #ffffff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  height: 40px;
  width: 115px;
  position: relative;
  cursor: pointer;
}

.app-main__row-button.active {
  background-color: #06d;
  box-shadow: none;
}

.app-main__row-button__text {
  position: absolute;
  bottom: -13px;
  font-weight: 900;
  font-family: "Montserrat";
  font-size: 33px;
}

.app-main__row-button:nth-child(1) .app-main__row-button__text {
  left: -24px;
}

.app-main__row-button:nth-child(2) .app-main__row-button__text {
  left: -6px;
}

.app-main__row2 {
  margin-top: 35px;
}

.app-main__row2 .app-main__row-button .app-main__row-button__text {
  left: -18px;
}

.app-main__row-button1 {
  position: absolute;
  bottom: -14px;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 34px;
  text-align: center;
}

.app-password {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
}
.app-password__text {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #272727;
}
.app-password__text-char {
  font-family: "Montserrat";
  font-size: 25px !important;
  font-weight: 900 !important;
  color: #06d !important;
}
.app-password__text-test {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #06d;
}
.app-password__text-test span {
  font-size: 18px;
  color: #272727;
}
.app-password__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-password__item-pass {
  flex-grow: 1;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  width: 390px;
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-size: 17px;
  font-weight: 900;
  white-space: nowrap;
  overflow: auto;
}
.app-password__item-pass::-webkit-scrollbar {
  display: none;
}
.app-password__item-star {
  font-family: "Montserrat";
  font-size: 34px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-password__item-star::after {
  content: "*";
  margin-top: 13px;
  margin-left: 10px;
}

.app-all-pass__name {
  padding: 10px;
  background: #06d;
  width: 200px;
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 16px;
}

.modal {
  width: 400px;
  border: 0;
}
.pass-list {
    overflow: auto;
    height: 400px;
}
.pass-list__null {
    font-family: 'MONTSERRAT';
    margin-top: 150px;
    font-size: 25px;
    text-align: center;
    color: #272727;
}
.pass-list__null span {
  color: #06d!important;
  text-decoration: underline;
}
.pass-list__item {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.pass-list__item-name {}
.pass-list__item-name__text, .pass-list__item-pass__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  color: #8e8d8d;
}
.pass-list__item-name__sname {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  margin-left: 10px;
}
.pass-list__item-pass {}

.pass-list__item-pass__button {
  border: 0;
  background: #fff;
  color: #272727;
  font-family: "Montserrat";
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
}
.pass-list__item-pass__button:hover {
  color: #06d;
}

.saving-button {
  border: 0;
  background: #06d;
  font-family: "Montserrat";
  font-weight: 900;
  padding: .575rem .75rem;
  color: #f2f2f2;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
}
.saving-button:nth-child(2) {
  top: 50px;
}

.app-password-input {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 16px;
  color: #272727;
  margin-top: 10px;
}
