html,
body,
#root {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.menu {
  position: absolute;
  top: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 3;
}

.wrapper {
  width: 400px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  z-index: 1;
}

.button__item {
  background-color: #06d;
  padding: 10px;
  color: #fff;
  font-weight: 900;
  font-family: "Montserrat";
  border: 1px solid #06d;
  display: block;
  cursor: pointer;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.head-logo {
  width: 130px;
}

.head-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #fff;
  height: 25px;
  width: 114px;
  padding: 5px;
  font-weight: 900;
  font-family: "Montserrat";
  position: absolute;
  bottom: 0px;
  background: #fff;
  font-size: 35px;
}

.head-div:focus {
  outline: 0;
  border-bottom: 2px solid #06d;
}

.filter {
  margin-top: 35px;
}

.filter-block {
}

.filter-block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 45px;
}

.filter-block-row__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  height: 40px;
  width: 115px;
  position: relative;
  cursor: pointer;
}
.filter-block-row__item.active {
  background-color: #06d;
}

.filter-block-row__item-text {
  position: absolute;
  bottom: -47px;
  font-weight: 900;
  font-family: "Montserrat";
  font-size: 33px;
  z-index: 1;
}

.number {
  left: -10px;
}

.letter {
  left: -2px;
}

.symbols {
  left: -25px;
}

.filter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-input__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-input__number-div {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 35px;
  margin-right: 5px;
  text-align: center;
  font-weight: 900;
  font-family: "Montserrat";
}

.filter-input__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-input__input div {
  font-weight: 900;
  font-family: "Montserrat";
  font-size: 18px;
  margin-right: 10px;
  text-align: start;
}

.filter-input__input input {
  width: 20%;
  height: 34px;
  border: 0;
  font-weight: 900;
  font-family: "Montserrat";
  color: #06d;
  border-bottom: 2px solid #fff;
  font-size: 30px;
  text-align: center;
}
.filter-input__input button {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  color: #272727;
  font-family: "Montserrat";
  font-weight: 900;
  -webkit-box-shadow: 0 0 .5rem rgba(0,0,0, .2);
          box-shadow: 0 0 .5rem rgba(0,0,0, .2);
}
.filter-input__input button:active {
  background-color: #06d;
  border: 1px solid #06d;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.filter-input__input input::-webkit-input-placeholder {
  color: #bbb;
  font-size: 30px;
}
.filter-input__input input::-moz-placeholder {
  color: #bbb;
  font-size: 30px;
}
.filter-input__input input:-ms-input-placeholder {
  color: #bbb;
  font-size: 30px;
}
.filter-input__input input::-ms-input-placeholder {
  color: #bbb;
  font-size: 30px;
}
.filter-input__input input::placeholder {
  color: #bbb;
  font-size: 30px;
}

.filter-input__input input:focus {
  border-bottom: 2px solid #06d;
  outline: none;
}

.generation {
  margin-top: 25px;
}

.generation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.generation__item:last-child {
  margin-bottom: 0px;
}
.generation__item-pass {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 11px 8px;
  font-weight: 900;
  font-family: "Montserrat";
  white-space: nowrap;
  width: -webkit-fill-available;
  overflow: auto;
  cursor: pointer;
}

.generation__item-span {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.generation__item-span div {
  height: 26px;
  margin-left: 10px;
}

.save-form {
  background-color: #06d;
  padding: 15px;
  width: 200px;
}
.save-form button {}

.message {
  background-color: #06d;
  padding: 15px;
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
  width: 330px;
  text-align: center;
  position: absolute;
  -webkit-transform: translate(-50%, 10px);
      -ms-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  left: 50%;
  z-index: 1;
}
.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  overflow: hidden;
}
.modal-body {
  background-color: #fff;
  width: 500px;
  height: 30%;
  z-index: 1;
  -webkit-box-shadow: 0 0 2.5rem rgba(0,0,0, .3);
          box-shadow: 0 0 2.5rem rgba(0,0,0, .3);
  padding: 15px;
}
.list-password__null {
  font-family: "Montserrat";
  font-weight: 900;
  color: #272727;
  font-size: 35px;
  text-align: center;
}
.list-password__null span {
  color: #06d!important;
  text-decoration: underline;
}
.list-save-password {
  margin-top:10px;
  overflow: auto;
  height: 100%;
}
.list-save-password__item {
  padding: 5px;
  border-bottom: 1px solid #ced4da;
}
.list-save-password__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-save-password__item-block__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 900;
}
.list-save-password__item-block__button {}
.list-save-password__item-block__button button {
  border: 1px solid #06d;
  background-color: #06d;
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.list-save-password__item-block__button button:active {
  background-color: #0008ff;
  border: 1px solid #0008ff;
}
.form-save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.form-save__text {
  font-weight: 900;
  font-family: "Montserrat";
  font-size: 25px;
  color: #272727;
}
.form-save__input {
    height: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form-save__input input {
  display: block;
  width: 100%;
  border-bottom: 3px solid #06d;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-weight: 900;
  font-family: "Montserrat";
  font-size: 20px;
}
.form-save__input input:focus {
  outline: none;
}


.form-save__button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-save__button button {
  border: 1px solid #06d;
  background-color: #06d;
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.description {
  margin-top: 15px;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}
.description span {
  font-family: "Montserrat";
    font-weight: 900;
    font-size: 25px;
    margin-right: 5px;
    color: #06d;
}
@media only screen and (max-width: 415px) {
  .wrapper {
    width: 350px;
  }
  .modal {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: auto;
    background-color: rgba(0,0,0, 0);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .modal-body {
    width: 100%;
    height: 44%;
    padding: 15px;
    -webkit-box-shadow: 0 0 1.5rem rgb(0 0 0 / 30%);
            box-shadow: 0 0 1.5rem rgb(0 0 0 / 30%);
  }
  .message {
    width: 200px;
  }
  .form-save__button button {
    font-size: 20px;
  }
}

@media only screen and (max-width: 380px) { 
  .wrapper {
    width: 290px;
  }
  .head-logo {
    width: 110px;
  }
  .generation {
    margin-top: 20px;
  }
  .generation__item {
    margin-bottom: 10px;
  }
  .generation__item-pass {
    padding: 9px 8px;
    font-size: 14px;
  }
  .filter {
    margin-top: 20px;
  }
  .filter-block-row {
    margin-bottom: 40px;
  }
  .filter-block-row__item {
    height: 35px;
    width: 100px;
  }
  .filter-block-row__item-text {
    font-size: 26px;
  }
  .number {
    left: -3px;
    top: -12px;
  }
  .letter {
    left: 3px;
    top: -12px;
  }
  .symbols {
    left: -19px;
    top: -12px;
  }
  .filter-input__input input {
    height: 35px;
    font-size: 25px;
    margin-right: 5px;
    width: 25%;
  }
  .message {
    width: 200px;
  }
  .description {
    margin-top: 30px;
    font-size: 11px;
  }
  .form-save__button button {
    font-size: 15px;
  }
  .form-save__input {
    height: 20%;
  }
}
